# Copia este archivo como .env y pon tu contraseña de PostgreSQL
DB_NAME=prestamos
DB_USER=postgres
DB_PASSWORD=pon_aqui_tu_contraseña
DB_HOST=localhost
DB_PORT=5432
SECRET_KEY=solo-para-desarrollo-cambiar
DEBUG=True
