{% if form.non_field_errors %}<div class="alert alert-danger">{% for e in form.non_field_errors %}{{ e }} {% endfor %}</div>{% endif %}
{% for campo in form %}
  {% if campo.field.widget.input_type == "checkbox" %}
  <div class="form-check mb-3">{{ campo }}
    <label class="form-check-label" for="{{ campo.id_for_label }}">{{ campo.label }}</label>
    {% if campo.help_text %}<div class="form-text">{{ campo.help_text }}</div>{% endif %}{{ campo.errors }}
  </div>
  {% else %}
  <div class="mb-3">
    <label class="form-label" for="{{ campo.id_for_label }}">{{ campo.label }}{% if campo.field.required %} <span class="text-danger">*</span>{% endif %}</label>
    {{ campo }}
    {% if campo.help_text %}<div class="form-text">{{ campo.help_text }}</div>{% endif %}
    {{ campo.errors }}
  </div>
  {% endif %}
{% endfor %}
